@{
	ViewData["Title"] = "Giriş Yap";
}

@section Styles {
	<link href="~/css/Pages/Login.css" rel="stylesheet" />
}

<main>
	<div id="login-wrapper">
		<!-- Blue Vector Background -->
		<img class="blueVector" src="~/assets/images/bluevector.png" />
		<!-- Purple Vector Background -->
		<img class="purpleVector" src="~/assets/images/purplevector.png" />
		<div id="login-container">
			<!-- Illustrations -->
			<img id="illustrations" src="~/assets/images/illustrations.jpg" />
			<!-- Login Base Layout -->
			<div id="login-base-layout">
				<!-- Logo -->
				<div>
					<img class="bfbLogo" src="~/assets/images/bfblogo.png" />
				</div>
				<!-- Proje Başlık -->
				<div>
					<h1 id="project-title">Demirbaş Takip Sistemi</h1>
				</div>
				<!-- Giriş Yap -->
				<div class="title-with-lines">
					<span class="section-title">Giriş Yap</span>
				</div>
				<!-- Login Form -->
				<div class="login-form-base-layout">
					<form id="login-base-form" asp-controller="Auth" asp-action="Login" method="post">
						<div>
							<label for="email">E-mail</label>
							<input type="email" id="email" name="Email" autocomplete="email" required
								   value="@Model?.Email" />
						</div>
						<div>
							<label for="password">Şifre</label>
							<input type="password" id="password" name="Password" autocomplete="current-password" required />
						</div>
						<div>
							@if (ViewBag.ErrorMessage != null)
							{
								<span id="errorMessage" class="alert alert-danger">
									@ViewBag.ErrorMessage
								</span>
							}
							<a href="/auth/forgotPassword" class="forgot-password-link">Şifremi unuttum ?</a>
						</div>
						<button id="button-login-form" type="submit">Giriş Yap</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</main>
