@model Entities.Dtos.UserForResetPasswordDto

@{
	ViewData["Title"] = "Yeni Şifre Oluştur";
}

@section Styles {
		<link href="~/css/Pages/ResetPassword.css" rel="stylesheet" />
}

<main>
	<div id="login-wrapper">
		<!-- Blue Vector Background -->
		<img class="blueVector" src="~/assets/images/bluevector.png" />
		<!-- Purple Vector Background -->
		<img class="purpleVector" src="~/assets/images/purplevector.png" />
		<div id="login-container">
			<!-- Illustrations -->
			<img id="illustrations" src="~/assets/images/illustrations.jpg" />
			<!-- Login Base Layout -->
			<div id="login-base-layout">
				<!-- Logo -->
				<a asp-controller="Auth" asp-action="Login">
					<img class="bfbLogo" src="~/assets/images/bfblogo.png" />
				</a>
				<!-- Proje Başlık -->
				<div>
					<h1 id="project-title">Demirbaş Takip Sistemi</h1>
				</div>
				<!-- Giriş Yap -->
				<div class="title-with-lines">
					<span class="section-title">Yeni Şifre Oluştur</span>
				</div>
				<!-- Login Form -->
				<div class="login-form-base-layout">
					<form id="login-base-form" asp-controller="auth" asp-action="resetPassword" method="post">
						<input type="hidden" name="UserId" value="@Model.UserId" />
						<div>
							<label for="newPassword">Yeni şifre</label>
							<input type="password" id="newPassword" name="NewPassword" autocomplete="new-password" required />
						</div>
						<div>
							<label for="confirmPassword">Yeni şifre tekrar</label>
							<input type="password" id="confirmPassword" name="ConfirmPassword" autocomplete="new-password" required />
						</div>
						<div>
							@if (ViewBag.ErrorMessage != null)
							{
									<span class="errorMessage">
									@ViewBag.ErrorMessage
									</span>
							}
							@if (ViewBag.SuccessMessage != null)
							{
									<span class="successMessage">
									@ViewBag.SuccessMessage
									</span>
							}
						</div>
						<button id="button-login-form" type="submit">Yeni Şifre Oluştur</button>
					</form>
				</div>
				<div class="navigation-login-wrapper">
					<img src="~/assets/svg/blueArrowBack.svg" />
					<a asp-controller="Auth" asp-action="Login" class="navigationLoginPage">Giriş ekranına dön</a>
				</div>
			</div>
		</div>
	</div>
</main>
