/* Genel font ayarý */
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

/* Poppins Thin */
.poppins-thin {
    font-weight: 100;
    font-style: normal;
}

/* Poppins ExtraLight */
.poppins-extralight {
    font-weight: 200;
    font-style: normal;
}

/* Poppins Light */
.poppins-light {
    font-weight: 300;
    font-style: normal;
}

/* Poppins Regular */
.poppins-regular {
    font-weight: 400;
    font-style: normal;
}

/* Poppins Italic */
.poppins-italic {
    font-weight: 400;
    font-style: italic;
}

/* Poppins Medium */
.poppins-medium {
    font-weight: 500;
    font-style: normal;
}

/* Poppins SemiBold */
.poppins-semibold {
    font-weight: 600;
    font-style: normal;
}

/* Poppins Bold */
.poppins-bold {
    font-weight: 700;
    font-style: normal;
}

/* Poppins ExtraBold */
.poppins-extrabold {
    font-weight: 800;
    font-style: normal;
}

/* Poppins Black */
.poppins-black {
    font-weight: 900;
    font-style: normal;
}

p {
    margin: 0px;
}

body {
    height: 100dvh;
    background-color: #F0F5F9;
}

#container {
    height: 100dvh;
}

main {
    height: 100dvh;
    display: flex;
    justify-content: center;
}

#main-container {
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

#main-wrapper {
    width: 100%;
    flex: 1;
}

footer {
    width: 100%;
    padding: 10px 0px;
    border-top: #00000017 0.25px solid;
}

/* HEADER START*/

header {
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    border-bottom: #00000017 0.25px solid;
}

#header-container {
    width: 90%;
    max-width: 1200px;
    padding: 10px 0px;
}

#header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    #header-wrapper img {
        width: 75px;
    }

    #header-wrapper #header-menu-list {
        display: flex;
        align-items: center;
    }

#btnBell, #btnUser {
    border: none;
    background-color: #303030;
    border-radius: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

    #btnBell img, #btnUser img {
        width: 20px;
        height: 20px;
    }

#header-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

#header-nav {
    background-color: #303030;
    border-radius: 50px;
    padding: 6px;
}

    #header-nav #header-menu-list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        gap: 6px;
        margin: 0px;
        padding: 0px;
    }

#header-menu-list li {
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 14px;
    cursor: pointer;
}

    #header-menu-list li:hover {
        background-color: #fcfcfccc;
        color: #303030;
    }

/* HEADER END */



