@section Styles {
	<link href="~/css/Partials/Header.css" rel="stylesheet" />
}

<header>
	<div id="header-container">
		<div id="header-wrapper">
			<!-- Header Logo -->
			<img src="~/assets/images/bfblogo.png" />
			<!-- Header Nav Menu -->
			<div id="header-nav">
				<nav>
					<ul id="header-menu-list">
						<li>Demirbaş Listelesi</li>
						<li>Ekleme</li>
						<li>Silme</li>
						<li>Güncelleme</li>
						<li>Talep Oluştur</li>
					</ul>
				</nav>
			</div>
			<!-- Header Account Buttons -->
			<div id="header-actions">
				<button id="btnBell">
					<img src="~/assets/svg/bell.svg" />
				</button>
				<button id="btnUser">
					<img src="~/assets/svg/user.svg" />
				</button>
			</div>
		</div>
	</div>
</header>