<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Demirbaş Takip Sistemi" />
	<meta name="author" content="Kaan Tetik" />
	<meta name="robots" content="index, follow" />
	<title>@ViewData["Title"]</title>
	<!-- Font Link -->
	<link rel="stylesheet" href="https://use.typekit.net/nzp2qgy.css" />
	<!-- Normalize CSS -->
	<link rel="stylesheet" href="~/css/normalize.css" asp-append-version="true" />
	<!-- Style CSS -->
	<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
	<!-- Sayfa özel CSS -->
	@await RenderSectionAsync("Styles", required: false)
</head>
<body>

	<header>
		<div id="header-container">
			<div id="header-wrapper">
				<!-- Header Logo -->
				<img src="~/assets/images/bfblogo.png" />
				<div>
					<nav>
						<ul id="header-menu-list">
							<li>a</li>
							<li>a</li>
							<li>a</li>
							<li>a</li>
							<li>a</li>
							<li>a</li>
						</ul>
					</nav>
				</div>
				<div>butonlar</div>
			</div>
		</div>
	</header>

	<main>
		<div id="main-container">
			<div id="main-wrapper">
				@RenderBody()
			</div>
			<footer>
				footer
			</footer>
		</div>
	</main>

	<script src="~/js/script.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
